<div class="list-groups">
  {% for content in data[1] %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            {% if content.icon %}
              <td class="list-group-category-icon">
                <i class="{{ content.icon }}"></i> 
              </td>
            {% else %}
              <td class="list-group-category-icon"></td>
            {% endif %}
            <!-- Calculate colspan number for category title -->
            {% assign i = 1 %}
            {% for item in content.items %}
              {% assign i = i | plus: 1 %}
            {% endfor %}
            <td colspan="{{ i }}" class="list-group-category">{{ content.name }}</td>
          </tr>
          <tr>
            <td></td>
            <td class="list-group-name">
              <b>{{ content.reference }}</b>
            </td>
          </tr>
          <td class="p-1 pl-2 font-weight-light text">
            {% if content[0] == 'url' %}
              <a href="{{ content[1] }}" target="_blank" rel="noopener noreferrer">{{ content[1] }}</a>
            {% elsif content[0] == 'email' %}
              <a href="mailto:{{ content[1] }}" target="_blank">{{ content[1] }}</a>
            {% elsif content[0] == 'phone' %}
              <a href="tel:{{ content[1] }}">{{ content[1] }}</a>
            {% else %}
              {{ content[1] }}
            {% endif %}
          </td>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
